<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing In</title>
  </head>
  <body>
    <div class="container">
      <form action="#" method="POST">
        <input type="text" name="name" placeholder="user name ..." />
        <input type="password" name="password" placeholder="password ..." />
        <button type="submit">ログイン</button>
      </form>
    </div>
  </body>
</html>
